//
// custom school dark style here
//
//---------------------------------------

$body-background-color:  $black-ter ;
$text-light: green;
$text-invert: green;
$text-strong: red;
$hr-background-color: cyan;
$strong-color: yellow;
$body-color: white;

           
